.login{
    margin: 4rem;
    margin-top: 9rem;
    padding: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        margin: 0 auto;
        text-align: center;
        .title__paragraph{
            font-size: 2rem;
        }
    }
    .button-social{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        gap: 1.4rem;
        button{
            width: 12.6rem;
            height: 4rem;
            background-color: #fff;
            border: none;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-family: inherit;
            img{
                width: 2.2rem;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    .separator{
        margin-top: 3.6rem;
        display: flex;
        justify-content: center;
        gap: 17px;
        p{
            font-size: 13px;
        }
    }
    .form{
        width: 50%;
        margin-top: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form__inputs{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .form__options{
            width: 85%;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            .option__check{
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 400;
                font-size: 12px;
            }
            .option__text{
                font-weight: 400;
                font-size: 14px;
                color: #D93F21;
            }
        }
    }
}